---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl21-cpp,
  -cert-dcl58-cpp,
  -cppcoreguidelines-pro-type-union-access,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -misc-definitions-in-headers,
  -modernize-make-unique,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: readability-braces-around-statements.ShortStatementLines
    value: 3
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: "\
CPPWAMP_[A-Z]+_VERSION|\
CPPWAMP_CONVERSION|\
CPPWAMP_ENABLED_TYPE|\
CPPWAMP_GENERATE|\
CPPWAMP_LOGIC|\
CPPWAMP_NEEDS"
...
