---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-make-unique,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: "\
CPPWAMP_[A-Z]+_VERSION|\
CPPWAMP_CONVERSION|\
CPPWAMP_ENABLED_TYPE|\
CPPWAMP_GENERATE|\
CPPWAMP_LOGIC|\
CPPWAMP_NEEDS"
...
