[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/miloyip/rapidjson
	ignore = dirty
[submodule "ext/msgpack-c"]
	path = ext/msgpack-c
	url = https://github.com/msgpack/msgpack-c
	ignore = dirty
[submodule "ext/Catch"]
	path = ext/Catch
	url = https://github.com/philsquared/Catch
	ignore = dirty

